#cover {
  background: url(../images/coding.jpg);
  height: 100vh;
  background-size: cover;
  background-color: #252a30;
  background-blend-mode: exclusion;

}

#cover div {
  color: white;
}

.btn-outline-warning{
  color: white;
}

.btn-outline-dark{
  color: #252a30;
}

#hire {
  background-color: #FED766;
  height: 50vh;
}

footer {
  background-color: #252a30;
  height: 30vh;
}
