/* Globals */
body {
    font-family: "Montserrat", sans-serif;
}

h1, h2 {
    font-weight: 700;
}

.square {
    width: 5%;
    background-image: url("../images/profile.jpg");
    background-size: cover;
    border-radius: 50%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* Cover */
.cover .background{
    position: absolute;
    top: 0;
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-size: cover;
}

.filter {
    background-color: rgba(0,0,0,0.5);
}

.cover .main {
    height: 100vh;
}

.cover-column {
    color: rgb(229,221,203);
}

/* Me */
.me {
    /*background-color: #E5DDCB;*/
}

.me h2 {
    color: #524656;
}


.me-icon {
    color: #EB7B59
}

